# Зависимости
node_modules/
package-lock.json

# Переменные окружения
.env
.env.local
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo

# ОС
.DS_Store
Thumbs.db

# Логи
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Загрузки (кроме .gitkeep)
public/uploads/*
!public/uploads/*/.gitkeep
!public/uploads/**/.gitkeep

# Сборка
dist/
build/

# Кэш
.cache/
.parcel-cache/
